<!DOCTYPE html>
<html lang="en">
<head>
    <title>thepaschoolmatcher</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- Logo -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">THE PA SCHOOL MATCHER</a>
            </div>

            <!-- Menu Items -->
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="topnav">
      <input type="text" placeholder="Search For Schools">
    </div>
    <div class="dropdown">
      <article>
      <h2><span>Select A School By State</span></h2>
      <select (change)="selectChangeHandler($event)">
        <option value="Alabama">Alabama</option>
        <option value="Florida">Florida</option>
        <option value="New York">New York</option>
        <option value="California">California</option>
        <option value="Illinois">Illinois</option>
      </select>
      <p><span>You selected: </span><b> {{selectedState}}</b>
      with schools: <b> {{schoolList}}</b></p>
      </article>
  <!-- <button class="dropbtn">Select a School By State</button>
  <div class="dropdown-content">
    <a href="#">Alabama</a>
    <a href="#">Florida</a>
    <a href="#">New York</a>
    <a href="#">Georgia</a>
    <a href="#">California</a>
    <a href="#">Illinois</a>
  </div> -->
    </div>
<div class="rightHolder">
      <div class="userInfo">
        <h2 style = "text-align: center">Student Information</h2>
        <hr/>
    	<form>
        	<table class = "table1" style = "background-color: lightbue; width: 90%; margin: auto">
            	<tr>
                	<td>Cumulative GPA</td>
                    <td><input type = "decimal" name = "GPA" value = "">on 4.0 scale<span class = "required">*</span></td>
                  <td>Science GPA</td>
                    <td><input type = "decimal" name = "SGPA" value = "">on 4.0 scale<span class = "required">*</span></td>
                </tr>
                <tr>
                	<td>GRE Score</td>
                    <td><input type = "number" name = "Verbal" value = "">Verbal</td>
                    <td><input type = "number" name = "Quantative" value = "">Quantitive</td>
                    <td><input type = "Essay" name = "Essay" value = "">Essay</td>
                </tr>
                <tr>
                	<td>Health Care Hours</td>
                    <td><input type = "email" name = "email" value = ""><span class = "required">*</span></td>
                </tr>

                <tr>
                	<td></td>
                    <td><input type = "submit" name = "submit" value = "Submit" id = "submitButton"></td>
                </tr>
            </table>
            <hr/>
                  </form>
      </div>
      <div class="selectedSchools">
      </div>
    </div>
</body>
</html>
