h1
{
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}
.paImage
{
  width: 250px;
  height: 150px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aliceblue;
}
li
{
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color:grey;
}
.holder
{
  width: 100%;
  padding: 10px;
  margin: auto;
  height: 1250px;
  display: flex;
}
.header
{
  text-align: center;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  height: 250px;
  border-bottom: solid gray 5px;
  background-color: aliceblue;
}
.findProgram
{
  text-align: center;
  width: 4%;
  margin: 4px;
  height: 1200px;
  border-right: solid gray 5px;
  align: left;
  flex-grow: 2;
}
.rightHolder
{
    flex-grow: 2;
}
.userInfo
{
  text-align: center;
  width: 90%;
  margin: 4px;
  height: 250px;
  border: solid grey 3px;
  background-color: aliceblue;
  align: right;
}
.selectedSchools
{
  width: 90%;
  height: 200px;
  margin: 4px;
  margin-top: 50px;
  border: solid grey 3px;
  background-color: aliceblue;
}
.stateContent
{
    display: none;
}
#programSearch
{
  width: 70%;
}
#stateDropdown
{
  background-color: lightgray;
  border: solid black 1px;
  width: 20%;
}
#submitButton
{
  align: center;
}
body
{
  background-color: 000000;
}
