  <div class="header">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img class="paImage" src="assets/image/paPicture.png">
  </div>
  <div class="holder">
    <div class="findProgram">
      <h2>
        Search
      </h2>
       <input id="programSearch" placeholder="School Name">
       <h2>
         Location
       </h2>
         <div>
           <button onclick="showStates()" id="stateDropdown">States</button>
            <div id="states" class="stateContent">
              <a>Georgia</a>
              <a>Florida</a>
              <a>California</a>
            </div>
         </div>
    </div>
    <div class="rightHolder">
      <div class="userInfo">
      </div>
      <div class="selectedSchools">
      </div>
    </div>
