<!DOCTYPE html>
<html lang="en">
<head>
    <title>thepaschoolmatcher</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- Logo -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">THE PA SCHOOL MATCHER</a>
            </div>

            <!-- Menu Items -->
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="app.component.html">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="topnav">
      <input *ngIf="!showStudentInfo" type="text" placeholder="Search For Schools">
    </div>
    <div *ngIf="!showStudentInfo" class="dropdown">
      <article>
      <h2><span>Select A School By State</span></h2>
      <select (change)="selectSchool($event)" *ngIf="!showStudentInfo"  class="dropbtn">
        <option class="dropdown-content" value=null>Pick A State</option>
        <option class="dropdown-content" value="AL">Alabama</option>
        <option class="dropdown-content" value="AZ">Arizona</option>)
        <option class="dropdown-content" value="AR">Arkansas</option>
        <option class="dropdown-content" value="CA">California</option>
        <option class="dropdown-content" value="CO">Colorado</option>
        <option class="dropdown-content" value="CT">Connecticut</option>
        <option class="dropdown-content" value="DE">Delaware</option>
        <option class="dropdown-content" value="DC">District of Columbia</option>
        <option class="dropdown-content" value="FL">Florida</option>
        <option class="dropdown-content" value="GA">Georgia</option>
        <option class="dropdown-content" value="ID">Idaho</option>
        <option class="dropdown-content" value="IL">Illinois</option>
        <option class="dropdown-content" value="IN">Indiana</option>
        <option class="dropdown-content" value="IA">Iowa</option>
        <option class="dropdown-content" value="KS">Kansas</option>
        <option class="dropdown-content" value="KY">Kentucky</option>
        <option class="dropdown-content" value="LA">Louisiana</option>
        <option class="dropdown-content" value="ME">Maine</option>
        <option class="dropdown-content" value="MD">Maryland</option>
        <option class="dropdown-content" value="MA">Massachusetts</option>
        <option class="dropdown-content" value="MI">Michigan</option>
        <option class="dropdown-content" value="MN">Minnesota</option>
        <option class="dropdown-content" value="MS">Mississippi</option>
        <option class="dropdown-content" value="MO">Missouri</option>
        <option class="dropdown-content" value="MT">Montana</option>
        <option class="dropdown-content" value="NE">Nebraska</option>
        <option class="dropdown-content" value="NV">Nevada</option>
        <option class="dropdown-content" value="NH">New Hampshire</option>
        <option class="dropdown-content" value="NJ">New Jersey</option>
        <option class="dropdown-content" value="NM">New Mexico</option>
        <option class="dropdown-content" value="NY">New York</option>
        <option class="dropdown-content" value="NC">North Carolina</option>
        <option class="dropdown-content" value="ND">North Dakota</option>
        <option class="dropdown-content" value="OH">Ohio</option>
        <option class="dropdown-content" value="OK">Oklahoma</option>
        <option class="dropdown-content" value="OR">Oregon</option>
        <option class="dropdown-content" value="PA">Pennsylvania</option>
        <option class="dropdown-content" value="RI">Rhode Island</option>
        <option class="dropdown-content" value="SC">South Carolina</option>
        <option class="dropdown-content" value="SD">South Dakota</option>
        <option class="dropdown-content" value="TN">Tennessee</option>
        <option class="dropdown-content" value="TX">Texas</option>
        <option class="dropdown-content" value="UT">Utah</option>
        <option class="dropdown-content" value="VA">Virginia</option>
        <option class="dropdown-content" value="WA">Washington</option>
        <option class="dropdown-content" value="WV">West Virginia</option>
        <option class="dropdown-content" value="WI">Wisconsin</option>
      </select>
      <table>
          <tr (click)='storeSchool(i)' (click)="calculateRating()" *ngFor="let item of schoolList; let i = index">
               {{item.name}}
          </tr>
      </table>
      </article>
</div>

<div class="rightHolder" *ngIf="showStudentInfo">
      <div class="userInfo">
        <h2 style = "text-align: center">Student Information</h2>
        <hr/>
    	<form>
        	<table class = "table1" style = "background-color: lightbue; width: 90%; height: 200px; margin: auto">
            	<tr>
                	<td>Cumulative GPA</td>
                   <td><input #cumuGPA type = "decimal" name = "GPA" value = "">on 4.0 scale<span class = "required">*</span></td>
                   <td></td>
                   <td></td>
              </tr>
              <tr>
                  <td>Science GPA</td>
                   <td><input #sciGPA type = "decimal" name = "SGPA" value = "">on 4.0 scale<span class = "required">*</span></td>
                   <td></td>
                   <td></td>
                </tr>
                <tr>
                	<td>GRE Score</td>
                    <td><input #greVerbal type = "number" name = "Verbal" value = "">Verbal</td>
                    <td><input #greQuant type = "number" name = "Quantative" value = "">Quantitive</td>
                    <td><input #greEssay type = "Essay" name = "Essay" value = "">Essay</td>
                </tr>
                <tr>
                	<td>Health Care Hours</td>
                  <td><input #hce type = "number" name = "number" value = ""><span class = "required">*</span></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                	<td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
            </table>
            <hr/>
                  </form>

                  <button (click)="submitStudentInfo({cumuGPA: cumuGPA.value, sciGPA: sciGPA.value, greVerbal: greVerbal.value,
                    greQuant: greQuant.value, greEssay: greEssay.value, hce: hce.value})" id = "submitButton" >Submit</button>
      </div>
    </div>
    <div class="userRating" *ngIf="!showStudentInfo">
      <p>
        Your info: <br>
             Cumulative GPA: {{studentCumuGPA}} <br>
             Science GPA: {{studentSciGPA}} <br>
             GRE Verbal: {{studentGREVerbal}} <br>
             GRE Quantative: {{studentGREQuant}} <br>
             GRE Essay: {{studentGREEssay}} <br>
             HCE Hours: {{studentHCE}}
      </p>

      <p>
        School Info: <br>
        Min Required Cumulative GPA: {{schoolCumuGPA}} <br>
        Min Requred Science GPA: {{schoolSciGPA}} <br>
        GRE Required: {{schoolGRE}} <br>
        Min Required HCE: {{schoolHCE}}
      </p>

      <p>
        User Rating: <br>
        Score: {{score}} <br>
        Rating: {{rating}}
      </p>
    </div>
</body>
</html>
